<div class="row">
	<h1>Listagem de grupos</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>
					<button class="btn btn-primary" (click)="chatGroupInsertService.showModalInsert()">Novo grupo</button>
				</td>
				<td colspan="4">
<!-- 					<user-search-form (OnSearch)="search($event)"></user-search-form> -->
				</td>
			</tr>
			<tr>
				<th class="alignCenter" style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
				<th style="width: 52%" [sortColumn]="sortColumn" columnName="name" (onSort)="sort($event)">Nome</th>
				<th style="width: 12%" [sortColumn]="sortColumn" columnName="email" (onSort)="sort($event)">Usuários</th>
				<th class="alignCenter" style="width: 11%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado Em</th>
				<th class="alignCenter" style="width: 8%">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let chatGroup of chatGroups | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page ,totalItems: pagination.totalItems }">
				<td class="alignCenter">{{chatGroup.id}}</td>
				<td>
				<img src="{{chatGroup.photo_url}}" class="chatGroup-photo" title="{{chatGroup.name}}"> 
				{{chatGroup.name}}</td>
				<td> - </td>
				<td class="alignCenter">{{chatGroup.created_at.date | date: 'dd/MM/yyyy'}}</td>
				<td class="alignCenter">
					<a title="Editar" href="javascript:void(0)" (click)="chatGroupEditService.showModalEdit(chatGroup.id)"><i class=" fas fa-edit"></i></a> | 
					<a title="Excluir" href="javascript:void(0)" (click)="chatGroupDeleteService.showModalDelete(chatGroup.id)"><i class=" fas fa-trash-alt"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
                      nextLabel="Próxima"></pagination-controls>
</div>
<chat-group-new-modal (onSucess)="chatGroupInsertService.onInsertSucess($event)" (onError)="chatGroupInsertService.onInsertError($event)"></chat-group-new-modal>
<chat-group-edit-modal [chatGroupId]="chatGroupId" (onSucess)="chatGroupEditService.onEditSucess($event)" (onError)="chatGroupEditService.onEditError($event)"></chat-group-edit-modal>
<chat-group-delete-modal [chatGroupId]="chatGroupId" (onSucess)="chatGroupDeleteService.onDeleteSucess($event)" (onError)="chatGroupDeleteService.onDeleteError($event)"></chat-group-delete-modal>