<ion-content>
	<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://www.gravatar.com/avatar/" alt="">
			</ion-avatar>
			<h2>Nome do Grupo</h2>
			<h3>Quais são as caracteristicas do produto X?</h3>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://www.gravatar.com/avatar/" alt="">
			</ion-avatar>
			<h2>Nome do Grupo</h2>
			<h3>Quais são as caracteristicas do produto X?</h3>
		</ion-item>
		<ion-item>
			<ion-avatar item-start>
				<img src="https://www.gravatar.com/avatar/" alt="">
			</ion-avatar>
			<h2>Nome do Grupo</h2>
			<h3>Quais são as caracteristicas do produto X?</h3>
		</ion-item>
	</ion-list>
</ion-content>