<ion-content>
	<ion-list>
		<ion-item *ngFor="let group of groups" [hidden]="!(group.is_member|async)" (click)="goToMessages(group)">
			<ion-avatar item-start>
				<img [src]="group.photo_url | buildUrl" alt="">
			</ion-avatar>
			<h2>{{group.name}}</h2>
			<h3>
				<ng-container *ngIf="group.last_message|async as message">
					<span *ngIf="message.type === 'text'">
						{{message.user.name}}: {{formatTextMessage(message)}}
					</span>			
					<span *ngIf="message.type === 'audio'">
						{{message.user.name}}: <ion-icon name="mic"></ion-icon> Audio
					</span>
					<span *ngIf="message.type === 'image'">
						{{message.user.name}}: <ion-icon name="images"></ion-icon> Imagem 
					</span> 
				</ng-container> 
			</h3> 
		</ion-item>
	</ion-list> 
</ion-content>