<div class="row">
<!-- 	<input type="text" [(ngModel)]="categoryHttp.variavel"> -->
<!-- 	{{categoryHttp.variavel}} -->
	<h1>Listagem de usuários</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>
					<button class="btn btn-primary" (click)="userInsertService.showModalInsert()">Novo usuário</button>
				</td>
				<td colspan="4">
					<user-search-form (OnSearch)="search($event)"></user-search-form>
				</td>
			</tr>
			<tr>
				<th class="alignCenter" style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
				<th style="width: 52%" [sortColumn]="sortColumn" columnName="name" (onSort)="sort($event)">Nome</th>
				<th style="width: 12%" [sortColumn]="sortColumn" columnName="email" (onSort)="sort($event)">Email</th>
				<th class="alignCenter" style="width: 11%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado Em</th>
<!-- 				<th style="width: 8%">Aualizado Em</th> -->
<!-- 				<th style="width: 8%">Excluído Em</th> -->
				<th class="alignCenter" style="width: 8%">Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page ,totalItems: pagination.totalItems }">
				<td class="alignCenter">{{user.id}}</td>
				<td>{{user.name}}</td>
				<td>{{user.email}}</td>
<!-- 				<td><i class='fas' [ngClass]="{'fa-check': category.active, 'fa-times': !category.active }"></i></td> -->
				<td class="alignCenter">{{user.created_at.date | date: 'dd/MM/yyyy'}}</td>
<!-- 				<td>{{user.updated_at.date | date: 'dd/MM/yyyy'}}</td> -->
<!-- 				<td>{{user.deleted_at.date | date: 'dd/MM/yyyy'}}</td> -->
				<td class="alignCenter">
					<a title="Editar" href="javascript:void(0)" (click)="userEditService.showModalEdit(user.id)"><i class=" fas fa-edit"></i></a> | 
					<a title="Excluir" href="javascript:void(0)" (click)="userDeleteService.showModalDelete(user.id)"><i class=" fas fa-trash-alt"></i></a>
				</td>
			</tr>
		</tbody>
	</table>
	<pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
                      nextLabel="Próxima"></pagination-controls>
</div>
<user-new-modal (onSucess)="userInsertService.onInsertSucess($event)" (onError)="userInsertService.onInsertError($event)"></user-new-modal>
<user-edit-modal [userId]="userId" (onSucess)="userEditService.onEditSucess($event)" (onError)="userEditService.onEditError($event)"></user-edit-modal>
<user-delete-modal [userId]="userId" (onSucess)="userDeleteService.onDeleteSucess($event)" (onError)="userDeleteService.onDeleteError($event)"></user-delete-modal>