<ion-item no-padding>
	<ion-select [(ngModel)]="countryCode">
		<ion-option value='93'>Afghanistão +(93)</ion-option>
		<ion-option value='27'>África do Sul +(27)</ion-option>
		<ion-option value='355'>Albânia +(355)</ion-option>
		<ion-option value='49'>Alemanha +(49)</ion-option>
		<ion-option value='376'>Andora +(376)</ion-option>
		<ion-option value='244'>Angola +(244)</ion-option>
		<ion-option value='1 264'>Anguilla +(1 264)</ion-option>
		<ion-option value='672'>Antarctica +(672)</ion-option>
		<ion-option value='1 268'>Antígua e Barbuda +(1 268)</ion-option>
		<ion-option value='54'>Argentina +(54)</ion-option>
		<ion-option value='213'>Argélia +(213)</ion-option>
		<ion-option value='374'>Arménia +(374)</ion-option>
		<ion-option value='297'>Aruba +(297)</ion-option>
		<ion-option value='966'>Arábia Saudita +(966)</ion-option>
		<ion-option value='61'>Austrália +(61)</ion-option>
		<ion-option value='43'>Áustria +(43)</ion-option>
		<ion-option value='994'>Azerbaijão +(994)</ion-option>
		<ion-option value='1 242'>Bahamas +(1 242)</ion-option>
		<ion-option value='973'>Bahrein +(973)</ion-option>
		<ion-option value='880'>Bangladesh +(880)</ion-option>
		<ion-option value='1 246'>Barbados +(1 246)</ion-option>
		<ion-option value='32'>Bélgica +(32)</ion-option>
		<ion-option value='501'>Belize +(501)</ion-option>
		<ion-option value='229'>Benim +(229)</ion-option>
		<ion-option value='1 441'>Bermuda +(1 441)</ion-option>
		<ion-option value='975'>Butão +(975)</ion-option>
		<ion-option value='375'>Bielorrússia +(375)</ion-option>
		<ion-option value='591'>Bolívia +(591)</ion-option>
		<ion-option value='387'>Bósnia e Herzegovina +(387)</ion-option>
		<ion-option value='267'>Botswana +(267)</ion-option>
		<ion-option value='55'>Brasil +(55)</ion-option>
		<ion-option value='673'>Brunei +(673)</ion-option>
		<ion-option value='359'>Bulgária +(359)</ion-option>
		<ion-option value='226'>Burkina Faso +(226)</ion-option>
		<ion-option value='95'>Myanmar (Burma) +(95)</ion-option>
		<ion-option value='257'>Burundi +(257)</ion-option>
		<ion-option value='237'>Camarões +(237)</ion-option>
		<ion-option value='238'>Cabo Verde +(238)</ion-option>
		<ion-option value='855'>Camboja +(855)</ion-option>
		<ion-option value='1C'>Canadá +(1)</ion-option>
		<ion-option value='974'>Catar +(974)</ion-option>
		<ion-option value='235'>Chad +(235)</ion-option>
		<ion-option value='56'>Chile +(56)</ion-option>
		<ion-option value='86'>China +(86)</ion-option>
		<ion-option value='357'>Chipre +(357)</ion-option>
		<ion-option value='61'>Christmas Island +(61)</ion-option>
		<ion-option value='65'>Cingapura +(65)</ion-option>
		<ion-option value='57'>Colômbia +(57)</ion-option>
		<ion-option value='269'>Comores +(269)</ion-option>
		<ion-option value='850'>Coreia do Norte +(850)</ion-option>
		<ion-option value='82'>Coreia do Sul +(82)</ion-option>
		<ion-option value='225'>Costa do Marfim +(225)</ion-option>
		<ion-option value='506'>Costa Rica +(506)</ion-option>
		<ion-option value='385'>Croácia +(385)</ion-option>
		<ion-option value='53'>Cuba +(53)</ion-option>
		<ion-option value='45'>Dinamarca +(45)</ion-option>
		<ion-option value='253'>Djibouti +(253)</ion-option>
		<ion-option value='1 767'>Dominica +(1 767)</ion-option>
		<ion-option value='20'>Egito +(20)</ion-option>
		<ion-option value='503'>El Salvador +(503)</ion-option>
		<ion-option value='971'>Emirados Árabes Unidos +(971)</ion-option>
		<ion-option value='593'>Equador +(593)</ion-option>
		<ion-option value='291'>Eritreia +(291)</ion-option>
		<ion-option value='1U'>Estados Unidos (EUA) +(1)</ion-option>
		<ion-option value='372'>Estónia +(372)</ion-option>
		<ion-option value='34'>Espanha +(34)</ion-option>
		<ion-option value='251'>Etiópia +(251)</ion-option>
		<ion-option value='679'>Fiji +(679)</ion-option>
		<ion-option value='358'>Finlândia +(358)</ion-option>
		<ion-option value='33'>França +(33)</ion-option>
		<ion-option value='241'>Gabão +(241)</ion-option>
		<ion-option value='220'>Gâmbia +(220)</ion-option>
		<ion-option value='970'>Banda de Gaza (Palestina) +(970)</ion-option>
		<ion-option value='995'>Geórgia +(995)</ion-option>
		<ion-option value='233'>Gana +(233)</ion-option>
		<ion-option value='350'>Gibraltar +(350)</ion-option>
		<ion-option value='30'>Grécia +(30)</ion-option>
		<ion-option value='299'>Groelândia +(299)</ion-option>
		<ion-option value='1 473'>Granada +(1 473)</ion-option>
		<ion-option value='1 671'>Guam +(1 671)</ion-option>
		<ion-option value='502'>Guatemala +(502)</ion-option>
		<ion-option value='592'>Guiana +(592)</ion-option>
		<ion-option value='224'>Guiné +(224)</ion-option>
		<ion-option value='240'>Guiné Equatorial +(240)</ion-option>
		<ion-option value='245'>Guiné-Bissau +(245)</ion-option>
		<ion-option value='509'>Haiti +(509)</ion-option>
		<ion-option value='504'>Honduras +(504)</ion-option>
		<ion-option value='852'>Hong Kong +(852)</ion-option>
		<ion-option value='36'>Hungria +(36)</ion-option>
		<ion-option value='354'>Islândia +(354)</ion-option>
		<ion-option value='1 345'>Ilhas Cayman +(1 345)</ion-option>
		<ion-option value='61'>Ilhas Cocos (Keeling) +(61)</ion-option>
		<ion-option value='44'>Ilha de Man +(44)</ion-option>
		<ion-option value='682'>Ilhas Cook +(682)</ion-option>
		<ion-option value='500'>Ilhas Falkland (Malvinas) +(500)</ion-option>
		<ion-option value='298'>Ilhas Feroé +(298)</ion-option>
		<ion-option value='1 670'>Ilhas Mariana do Norte +(1 670)</ion-option>
		<ion-option value='692'>Ilhas Marshall +(692)</ion-option>
		<ion-option value='672'>Ilhas Norfolk +(672)</ion-option>
		<ion-option value='870'>Ilhas Pitcairn +(870)</ion-option>
		<ion-option value='677'>Ilhas Salomão +(677)</ion-option>
		<ion-option value='1 649'>Ilhas Turcas e Caicos +(1 649)</ion-option>
		<ion-option value='1 340'>Ilhas Virgens Americanas +(1 340)</ion-option>
		<ion-option value='1 284'>Ilhas Virgens Britânicas +(1 284)</ion-option>
		<ion-option value='91'>India +(91)</ion-option>
		<ion-option value='62'>Indonésia +(62)</ion-option>
		<ion-option value='44'>Inglaterra (Reino Unido) +(44)</ion-option>
		<ion-option value='98'>Irã +(98)</ion-option>
		<ion-option value='964'>Iraque +(964)</ion-option>
		<ion-option value='353'>Irlanda +(353)</ion-option>
		<ion-option value='972'>Israel +(972)</ion-option>
		<ion-option value='39'>Itália +(39)</ion-option>
		<ion-option value='1 876'>Jamaica +(1 876)</ion-option>
		<ion-option value='81'>Japão +(81)</ion-option>
		<ion-option value='962'>Jordânia +(962)</ion-option>
		<ion-option value='7'>Cazaquistão +(7)</ion-option>
		<ion-option value='254'>Quénia (Kenya) +(254)</ion-option>
		<ion-option value='686'>Kiribati +(686)</ion-option>
		<ion-option value='381'>Kosovo +(381)</ion-option>
		<ion-option value='965'>Kuwait +(965)</ion-option>
		<ion-option value='996'>Quirguistão +(996)</ion-option>
		<ion-option value='856'>Laos +(856)</ion-option>
		<ion-option value='371'>Letônia +(371)</ion-option>
		<ion-option value='961'>Líbano +(961)</ion-option>
		<ion-option value='266'>Lesoto +(266)</ion-option>
		<ion-option value='231'>Libéria +(231)</ion-option>
		<ion-option value='218'>Líbia +(218)</ion-option>
		<ion-option value='423'>Liechtenstein +(423)</ion-option>
		<ion-option value='370'>Lituânia +(370)</ion-option>
		<ion-option value='352'>Luxemburgo +(352)</ion-option>
		<ion-option value='853'>Macau +(853)</ion-option>
		<ion-option value='389'>Macedónia +(389)</ion-option>
		<ion-option value='261'>Madagáscar +(261)</ion-option>
		<ion-option value='265'>Malawi +(265)</ion-option>
		<ion-option value='60'>Malásia +(60)</ion-option>
		<ion-option value='960'>Maldivas +(960)</ion-option>
		<ion-option value='223'>Mali +(223)</ion-option>
		<ion-option value='356'>Malta +(356)</ion-option>
		<ion-option value='222'>Mauritânia +(222)</ion-option>
		<ion-option value='230'>Maurícia +(230)</ion-option>
		<ion-option value='262'>Mayotte +(262)</ion-option>
		<ion-option value='52'>México +(52)</ion-option>
		<ion-option value='691'>Micronésia +(691)</ion-option>
		<ion-option value='373'>Moldávia +(373)</ion-option>
		<ion-option value='377'>Monaco +(377)</ion-option>
		<ion-option value='976'>Mongólia +(976)</ion-option>
		<ion-option value='382'>Montenegro +(382)</ion-option>
		<ion-option value='1 664'>Montserrat +(1 664)</ion-option>
		<ion-option value='212'>Marrocos +(212)</ion-option>
		<ion-option value='258'>Moçambique +(258)</ion-option>
		<ion-option value='264'>Namíbia +(264)</ion-option>
		<ion-option value='674'>Nauru +(674)</ion-option>
		<ion-option value='977'>Nepal +(977)</ion-option>
		<ion-option value='599'>Netherlands Antilles +(599)</ion-option>
		<ion-option value='687'>Nova Caledônia +(687)</ion-option>
		<ion-option value='64'>Nova Zelândia +(64)</ion-option>
		<ion-option value='505'>Nicaragua +(505)</ion-option>
		<ion-option value='227'>Níger +(227)</ion-option>
		<ion-option value='234'>Nigéria +(234)</ion-option>
		<ion-option value='683'>Niue +(683)</ion-option>
		<ion-option value='47'>Noruega +(47)</ion-option>
		<ion-option value='968'>Omã +(968)</ion-option>
		<ion-option value='31'>Países Baixos +(31)</ion-option>
		<ion-option value='92'>Paquistão +(92)</ion-option>
		<ion-option value='680'>Palau +(680)</ion-option>
		<ion-option value='507'>Panamá +(507)</ion-option>
		<ion-option value='675'>Papua-Nova Guiné +(675)</ion-option>
		<ion-option value='595'>Paraguai +(595)</ion-option>
		<ion-option value='51'>Peru +(51)</ion-option>
		<ion-option value='63'>Filipinas +(63)</ion-option>
		<ion-option value='48'>Polónia +(48)</ion-option>
		<ion-option value='689'>Polinésia Francesa +(689)</ion-option>
		<ion-option value='351'>Portugal +(351)</ion-option>
		<ion-option value='1'>Porto Rico +(1)</ion-option>
		<ion-option value='242'>República do Congo +(242)</ion-option>
		<ion-option value='243'>República Democrática do Congo +(243)</ion-option>
		<ion-option value='236'>República Centro-Africana +(236)</ion-option>
		<ion-option value='420'>República Checa +(420)</ion-option>
		<ion-option value='1 809'>República Dominicana +(1 809)</ion-option>
		<ion-option value='40'>Roménia +(40)</ion-option>
		<ion-option value='250'>Ruanda +(250)</ion-option>
		<ion-option value='7'>Rússia +(7)</ion-option>
		<ion-option value='590'>Saint Barthelemy +(590)</ion-option>
		<ion-option value='685'>Samoa +(685)</ion-option>
		<ion-option value='1 684'>Samoa Americana +(1 684)</ion-option>
		<ion-option value='378'>San Marino +(378)</ion-option>
		<ion-option value='239'>Sao Tome e Principe +(239)</ion-option>
		<ion-option value='221'>Senegal +(221)</ion-option>
		<ion-option value='381'>Serbia +(381)</ion-option>
		<ion-option value='232'>Serra Leoa +(232)</ion-option>
		<ion-option value='248'>Seychelles +(248)</ion-option>
		<ion-option value='421'>Slovakia +(421)</ion-option>
		<ion-option value='386'>Slovenia +(386)</ion-option>
		<ion-option value='252'>Somalia +(252)</ion-option>
		<ion-option value='94'>Sri Lanka +(94)</ion-option>
		<ion-option value='290'>Saint Helena +(290)</ion-option>
		<ion-option value='1 869'>Saint Kitts and Nevis +(1 869)</ion-option>
		<ion-option value='1 758'>Saint Lucia +(1 758)</ion-option>
		<ion-option value='1 599'>Saint Martin +(1 599)</ion-option>
		<ion-option value='508'>Saint Pierre and Miquelon +(508)</ion-option>
		<ion-option value='1 784'>Saint Vincent and the Grenadines +(1 784)</ion-option>
		<ion-option value='249'>Sudão +(249)</ion-option>
		<ion-option value='597'>Suriname +(597)</ion-option>
		<ion-option value='268'>Suazilândia +(268)</ion-option>
		<ion-option value='46'>Suécia +(46)</ion-option>
		<ion-option value='41'>Suiça +(41)</ion-option>
		<ion-option value='963'>Syria +(963)</ion-option>
		<ion-option value='886'>Taiwan +(886)</ion-option>
		<ion-option value='992'>Tajiquistão +(992)</ion-option>
		<ion-option value='255'>Tanzânia +(255)</ion-option>
		<ion-option value='670'>Timor-Leste +(670)</ion-option>
		<ion-option value='66'>Tailândia +(66)</ion-option>
		<ion-option value='228'>Togo +(228)</ion-option>
		<ion-option value='690'>Tokelau +(690)</ion-option>
		<ion-option value='676'>Tonga +(676)</ion-option>
		<ion-option value='1 868'>Trinidad e Tobago +(1 868)</ion-option>
		<ion-option value='216'>Tunísia +(216)</ion-option>
		<ion-option value='993'>Turquemenistão +(993)</ion-option>
		<ion-option value='90'>Turquia +(90)</ion-option>
		<ion-option value='688'>Tuvalu +(688)</ion-option>
		<ion-option value='256'>Uganda +(256)</ion-option>
		<ion-option value='380'>Ucrânia +(380)</ion-option>
		<ion-option value='598'>Uruguai +(598)</ion-option>
		<ion-option value='998'>Uzbequistão +(998)</ion-option>
		<ion-option value='678'>Vanuatu +(678)</ion-option>
		<ion-option value='39'>Vaticano +(39)</ion-option>
		<ion-option value='58'>Venezuela +(58)</ion-option>
		<ion-option value='84'>Vietnã (Vietname) +(84)</ion-option>
		<ion-option value='681'>Wallis e Futuna +(681)</ion-option>
		<ion-option value='970'>West Bank +(970)</ion-option>
		<ion-option value='967'>Iémen (Iémen, Yemen) +(967)</ion-option>
		<ion-option value='263'>Zimbabwe(Zimbabué) +(263)</ion-option>
		<ion-option value='260'>Zâmbia +(260)</ion-option>
	</ion-select> 
</ion-item>
