<form (submit)="submit()">
	<modal (onHide)="hideModal($event)">
		<h5 modal-title>Editar usuário - {{user.name}}</h5>
		<div modal-body>
			<div class="form-group">
			  <label for="name">Nome</label>
			  <input type="text" class="form-control" id="name" name="name" required 
			  		[(ngModel)]="user.name">
			</div>
			<div class="form-group">
			  <label for="email">E-mail</label>
			  <input type="text" class="form-control" id="email" name="email" required 
			  		[(ngModel)]="user.email">
			</div>
			<div class="form-group">
			  <label for="password">Senha</label>
			  <input type="password" class="form-control" id="password" name="password" required 
			  		[(ngModel)]="user.password">
			</div>
		</div>
		<div modal-footer>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        	<button type="submit" class="btn btn-primary">Alterar</button>
		</div>
	</modal>
</form>