<form class="form-signin" (submit)="submit()">
	<img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">Code Shopping - Login</h1>
	<label for="email" class="sr-only">E-mail</label>
	<input type="email" id="email" name="email" class="form-control" placeholder="Digite o e-mail" required autofocus [(ngModel)]="credentials.email">
	<label for="password" class="sr-only">Password</label>
	<input type="password" id="password" name="password" class="form-control" placeholder="Digite a sua senha" required [(ngModel)]="credentials.password">
	<!-- <div class="checkbox mb-3">
	  <label>
	    <input type="checkbox" value="remember-me"> Remember me
	  </label>
	</div> -->
	<button class="btn btn-lg btn-primary btn-block" type="submit" >Entrar</button>
	<!--  
	{{email}}
	{{obj.email}}
	{{obj.array[0]}}
	<p [innerHTML]="email"></p>
	-->
	{{credentials | json}}
</form>
